/*****************************************/
/*          CSS Little Game              */
/*****************************************/

/* Photo by Kindel Media: https://www.pexels.com/photo/grass-on-the-desert-7527853/ */

#little-game {
    margin-top: -1em;
}

.little-game {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("/game-assets/desert.png") no-repeat center center / cover;
    min-height: 60vh; /* rid of this height property later, let content determine height */
    box-shadow: 0px 0px 20px rgb(255, 0, 0);
    overflow: hidden;
}

.gunsight { /* I set image at 10vw (10% of viewport view) within game screen so it scales well with screen but caps out at 100px because it'll look too big on ultrawide monitor */
    position: absolute;
    top: 30%;
    width: 10vw;
    max-width: 100px;
    animation: idle 1.5s alternate 0s linear infinite;
    z-index: 10;
}

/* I set image at 10vw (10% of viewport view) within game screen so it scales well with screen but caps out at 100px because it'll look too big on ultrawide monitor */
/* Position is positioned absolutely in relative to parent container.  This way, I can position the character randomly with top and left propreties using DOM scripting in JS */
.character {
    position: absolute;
    /*top: 0;
    left: 0;*/
    width: 15vw;
    max-width: 100px;
    max-height: 100px;
    z-index: 1;
    animation: character-walk 2s alternate linear 0s infinite;
}

.yoda { /* Same as .character expect more styles so baby yoda is more noticeable to user/gamer */
    box-shadow: 0px 0px 10px rgb(104, 248, 76);
    border-radius: 100%;
    z-index: 0;
    animation: yoda 1s alternate linear 0s infinite;
}

.little-game:hover {
    cursor: crosshair; /* Defaults to crosshair "+" cursor if custom cursor stopped working on hover */
}

.little-game:hover .gunsight { /* hide crosshair child element when parent container is hovered */
    display: none;
}

.total-score {
    margin: .5em 1em 0 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

/*
.character {
    width: 10vw;
    max-width: 100px;
}
*/

/****************************************/
/*      CSS ANIMATIONS/KEYFRAMES        */
/****************************************/
@keyframes idle {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/card-shadow */
    from {
        left: 20%;
    }

    to {
        left: 70%;
    }
}

@keyframes character-walk {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/card-shadow */
    to {
        scale: 1.2;
        transform: translateY(5%);
    }
}

@keyframes yoda {
    to {
box-shadow: 0px 0px 40px rgb(104, 248, 76);
    }
    
}

/********************************************/
/* MEDIA QUERIES for Mobile, Tablet Screens */
/********************************************/
@media screen and (max-width: 1420px) {}