body {
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-family: system-ui;
    /* Good for responsive. Adjusts dynamically rather than resize font manually per screen type which can gets messy - https://clamp.font-size.app/ */
    font-size: clamp(0.625rem, -0.0112rem + 3.3929vw, 2rem);
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url("/assets/bg/xwing.png") no-repeat center center / cover fixed;
    background-attachment: fixed;
    max-width: 1420px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*
html {
    cursor: url("assets/cursor/cursor.cur"), pointer;
}
*/

/* 1vw is 1% of viewport width. For example, 8vw of 1000px is 80px. */

a {
    text-decoration: none;
}

header {
    white-space: nowrap;
}


header img {
    height: 1em;
}

.portfolio {
    height: 90vh;
    display: none;
}

.job-title {
    margin-top: -1.5em;
}

.header-links {
    margin-top: -.8em;
}

/****************************************/
/* MEDIA QUERIES for Responsive Screens */
/****************************************/
@media screen and (min-width: 1200px) {
}